@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-70%);
  }
}
.mansarda_hidden {
  display: none;
}
.mansarda_transparent {
  opacity: 0;
}
.textRed {
  color: #f85840;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
  padding: 0;
}
.mansarda_steps {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mansarda_steps .mansarda_full {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.mansarda_steps .mansarda_half {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
}
.mansarda_steps .mansarda_half2 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
}
.mansarda_step {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mansarda_step h2 {
  position: absolute;
  top: 18%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  left: 0;
  right: 0;
  font-family: 'Lora', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
  border-bottom: solid 1px #bbb;
  padding-bottom: 3rem;
  margin: 0 3rem;
}
input {
  outline: none;
}
.mansarda_popup_send_active .mansarda_popup.mansarda_popup_send,
.mansarda_popup_email_active .mansarda_popup.mansarda_popup_email,
.mansarda_popup_quality_active .mansarda_popup.mansarda_popup_quality,
.mansarda_popup_computing_active .mansarda_popup.mansarda_popup_computing {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
}
.mansarda_popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
}
.mansarda_popup_info {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #7d7d7d;
  font-family: 'Lora', serif;
}
.mansarda_popup_info input {
  margin-right: 1rem;
}
.mansarda_popup_info a {
  color: #7d7d7d;
}
.mansarda_popup_text {
  border: solid 1px #2e2e2e;
  padding: 0 1rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  width: 40rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 7rem;
  box-shadow: none !important;
  -webkit-appearance: none;
}
.mansarda_popup_submit {
  border: none;
  padding: 0 2rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 7rem;
  margin-left: 1rem;
  background-color: #f85840;
  color: #fff;
  cursor: pointer;
  border: solid 1px #f85840;
  transition: 0.3s;
}
.mansarda_popup_submit:hover {
  background-color: transparent;
  color: #f85840;
}
.mansarda_popup_back {
  background-color: rgba(228,223,218,0.65);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(228,223,218,0.65);
}
.mansarda_popup_content {
  width: 60rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  padding: 5rem 3rem 7rem 3rem;
  background-color: #fff;
  text-align: center;
  background-color: #fff;
  border-radius: 2.7rem;
}
.mansarda_popup_content h2 {
  font-family: 'Lora', sans-serif;
  font-size: 2.6rem;
  font-weight: normal;
  padding-bottom: 5rem;
  margin: 0;
}
.mansarda_popup_content .mansarda_popup_close {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  display: block;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  color: #fff;
  background-color: #f85840;
  font-size: 1rem;
  border: solid 1px #f85840;
  border-radius: 50%;
  line-height: 2rem;
  transition: background-color 0.3s;
  text-align: center;
  padding: 0;
}
.mansarda_popup_content .mansarda_popup_close i {
  line-height: 1.9rem;
  transition: color 0.3s;
}
.mansarda_popup_content .mansarda_popup_close:hover {
  background-color: #fff;
}
.mansarda_popup_content .mansarda_popup_close:hover i {
  color: #f85840;
}
.mansarda_popup_content nav a {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 3rem;
  text-decoration: none;
  font-size: 4rem;
  line-height: 10rem;
  transition: 0.3s;
  transform: scale(1, 1);
}
.mansarda_popup_content nav a.mansarda_popup_share_facebook {
  background-color: #5988f4;
}
.mansarda_popup_content nav a.mansarda_popup_share_twitter {
  background-color: #07b7e3;
}
.mansarda_popup_content nav a.mansarda_popup_share_pinterest {
  background-color: #ff5353;
}
.mansarda_popup_content nav a:hover {
  transform: scale(1.2, 1.2);
}
.mansarda_popup_content nav a i {
  color: #fff;
}
.mansarda_popup_submit {
  border: none;
  padding: 0 2rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 7rem;
  margin-left: 1rem;
  background-color: #f85840;
  color: #fff;
  cursor: pointer;
  border: solid 1px #f85840;
  transition: 0.3s;
}
.mansarda_popup_submit:hover {
  background-color: transparent;
  color: #f85840;
}
.mansarda_popup_controls {
  padding: 1rem 0 5rem 0;
}
.mansarda_popup_range {
  cursor: pointer;
  -webkit-appearance: none;
  width: 30rem;
}
.mansarda_popup_range::-webkit-slider-runnable-track {
  width: 30rem;
  height: 1rem;
  background: #e4dfda;
  border: none;
  border-radius: 0.5rem;
}
.mansarda_popup_range::-webkit-slider-thumb {
  color: #6bb3a7;
  background-color: #f85840;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  top: -1.5rem;
  -webkit-appearance: none;
  border: none;
}
.mansarda_popup_range:focus {
  outline: none;
}
.mansarda_popup_computed {
  display: inline-block;
  padding: 0 3%;
  width: 16%;
  position: relative;
  vertical-align: top;
}
.mansarda_popup_computed h3 {
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Lato', 'Arial', sans-serif;
}
.mansarda_popup_computed .mansarda_popup_computed_img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  position: relative;
  background-image: url("../images/button_green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mansarda_popup_computed .mansarda_popup_computed_img:after {
  display: block;
  content: "\e904";
  font-family: 'icomoon';
  color: transparent;
  font-size: 2.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transition: color 0.3s;
}
.mansarda_popup_computed.mansarda_popup_computed_active {
  position: relative;
}
.mansarda_popup_computed.mansarda_popup_computed_active .mansarda_popup_computed_img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.mansarda_popup_computed.mansarda_popup_computed_active .mansarda_popup_computed_img:after {
  color: #fff;
}
.mansarda_header {
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.mansarda_header nav {
  position: absolute;
  right: 3rem;
  top: 1.4rem;
}
.mansarda_header nav a {
  display: inline-block;
  margin-left: 0.8rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: solid 1px #bbb;
  color: #7d7d7d;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0;
  transition: color 0.3s;
}
.mansarda_header nav a:hover {
  color: #6bb3a7;
  border-color: #6bb3a7;
}
.mansarda_header .mansarda_home {
  text-transform: uppercase;
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 0 0 3rem;
  font-size: 1.2rem;
  height: 6rem;
  position: relative;
  transition: color 0.3s;
}
.mansarda_header .mansarda_home img {
  height: 3rem;
  width: auto;
}
.mansarda_header .mansarda_home i {
  font-size: 2.8rem;
  position: absolute;
  left: 3rem;
  top: 1.3rem;
}
.mansarda_header .mansarda_home:hover {
  color: #6bb3a7;
}
.mansarda_footer {
  position: fixed;
  display: block;
  z-index: 2;
  right: 3rem;
  bottom: 2rem;
  width: 14rem;
}
.mansarda_footer img {
  width: 100%;
  height: auto;
}
.mansarda_navigation {
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
  text-align: center;
}
.mansarda_navigation button {
  cursor: pointer;
  font-size: 1.6rem;
  color: #f85840;
  border: solid 1px #f85840;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 14rem;
  height: 4rem;
  margin: 0 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
.mansarda_navigation button.mansarda_navigation_next {
  background-color: #f85840;
  color: #fff;
}
.mansarda_dots {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  text-align: center;
}
.mansarda_dots button {
  border: none;
  color: #fff;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.8rem;
  display: inline-block;
  cursor: pointer;
  margin: 0 0.6rem;
  background-color: #e4dfda;
  border: solid 2px #e4dfda;
  transition: background-color 0.3s;
  -moz-appearance: none;
}
.mansarda_dots button.active,
.mansarda_dots button:hover {
  background-color: transparent;
  border: solid 2px #e4dfda;
}
.mansarda_splash {
  overflow-x: hidden;
  width: 100%;
}
.mansarda_splash_city {
  position: absolute;
  left: 0;
  right: -200%;
  bottom: 0;
  z-index: 1;
  top: 0;
  background-image: url("../images/city.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 50%;
  animation: 60s linear infinite slide;
}
.mansarda_splash_logo {
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  height: 11%;
  width: auto;
}
.mansarda_splash_text {
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  font-family: 'Lora', serif;
  max-width: 55%;
  text-align: center;
  z-index: 2;
  font-size: 1.6rem;
  color: #2e2e2e;
}
.mansarda_splash_go {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  z-index: 3;
  width: 14rem;
  height: 14rem;
  display: block;
  border: none;
  line-height: 11rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
.mansarda_splash_go:before {
  display: block;
  content: ".";
  color: transparent;
  background: url("../images/button.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
  animation: 15s linear infinite spin;
}
.mansarda_splash_go:hover:before {
  left: -0.8rem;
  right: -0.8rem;
  top: -0.8rem;
  bottom: -0.8rem;
}
.mansarda_mq .mansarda_half2 {
  background-color: #e3ecf2;
  overflow-x: hidden;
}
.mansarda_art_back {
  background-color: #cdddda;
  background-image: url("../images/tile1.png");
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 60%;
  z-index: 1;
}
.mansarda_art_tree1 {
  position: absolute;
  width: 24%;
  height: auto;
  bottom: 27%;
  right: -3%;
  z-index: 10;
}
.mansarda_art_tree2 {
  position: absolute;
  width: 20%;
  height: auto;
  bottom: 38%;
  left: 5%;
  z-index: 2;
}
.mansarda_art_home {
  position: absolute;
  height: auto;
  bottom: 30%;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  z-index: 3;
  transition: width 0.3s;
}
.mansarda_art_home_overlay1 {
  position: absolute;
  height: auto;
  bottom: 30%;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  z-index: 4;
  transition: width 0.3s;
}
.mansarda_art_home_overlay2 {
  position: absolute;
  height: auto;
  bottom: 30%;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  z-index: 5;
  transition: width 0.3s;
}
.mansarda_art_home_overlay3 {
  position: absolute;
  height: auto;
  bottom: 30%;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  z-index: 6;
  transition: width 0.3s;
}
.mansarda_mq_range {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  -webkit-appearance: none;
  width: 30rem;
}
.mansarda_mq_range::-webkit-slider-runnable-track {
  width: 30rem;
  height: 1rem;
  background: #e4dfda;
  border: none;
  border-radius: 0.5rem;
}
.mansarda_mq_range::-webkit-slider-thumb {
  color: #6bb3a7;
  background-color: #6bb3a7;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  top: -1.5rem;
  -webkit-appearance: none;
  border: none;
}
.mansarda_mq_range:focus {
  outline: none;
}
.mansarda_mq_text {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  border: solid 1px #2e2e2e;
  padding: 0.7rem 1.6rem;
  border-radius: 1rem;
  font-size: 8rem;
  width: 20rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 9.6rem;
  box-shadow: none !important;
  -webkit-appearance: none;
}
.mansarda_city_icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  width: 100%;
  text-align: center;
}
.mansarda_city_icon {
  display: inline-block;
  margin: 0 5rem;
  cursor: pointer;
}
.mansarda_city_icon img {
  height: 18rem;
  width: auto;
  margin-bottom: 3rem;
  transition: 0.3s;
}
.mansarda_city_icon p {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.mansarda_city_icon:hover img {
  transform: scale(1.1, 1.1);
}
.mansarda_place_city img {
  -webkit-filter: grayscale(100%);
}
.mansarda_place_city.mansarda_city_selected0 img,
.mansarda_place_city.mansarda_city_selected1 .mansarda_city_size1 img,
.mansarda_place_city.mansarda_city_selected2 .mansarda_city_size2 img,
.mansarda_place_city.mansarda_city_selected3 .mansarda_city_size3 img,
.mansarda_place_city.mansarda_city_selected4 .mansarda_city_size4 img {
  -webkit-filter: grayscale(0%);
}
.mansarda_place_city.mansarda_city_selected1 .mansarda_city_size1 img,
.mansarda_place_city.mansarda_city_selected2 .mansarda_city_size2 img,
.mansarda_place_city.mansarda_city_selected3 .mansarda_city_size3 img,
.mansarda_place_city.mansarda_city_selected4 .mansarda_city_size4 img {
  transform: scale(1.2, 1.2);
}
.mansarda_place .mansarda_half2 {
  background-color: #f4f7f9;
}
.mansarda_place .mansarda_navigation,
.mansarda_place .mansarda_dots {
  right: 50%;
}
.mansarda_place_province {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  border: solid 1px #2e2e2e;
  padding: 0.7rem 3rem;
  height: 9.6rem;
  border-radius: 1rem;
  font-size: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  width: 36rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
}
.mansarda_place_province:focus {
  outline: none;
}
.mansarda_place_province::-ms-expand {
  display: none;
}
.mandarda_place_advanced_mobile,
font-size fsize5 {
  border: solid 1px #2e2e2e;
  padding: 0.7rem 3rem;
  height: 9.6rem;
  border-radius: 1rem;
  font-size: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  width: 36rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 2rem auto 0 auto;
  display: none;
}
.mandarda_place_advanced_mobile:focus,
font-size fsize5:focus {
  outline: none;
}
.mandarda_place_advanced_mobile::-ms-expand,
font-size fsize5::-ms-expand {
  display: none;
}
.mansarda_place_advanced {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  width: 100%;
}
.mansarda_place_advanced label {
  display: inline-block;
  width: 28%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  vertical-align: top;
  cursor: pointer;
  margin: 0 0 4rem 0;
}
.mansarda_place_advanced label em {
  margin: 0 3rem;
  display: block;
  font-style: normal;
}
.mansarda_place_advanced label input {
  display: block;
  margin: 0 0 1.7rem 3rem;
  -webkit-appearance: none;
  width: 4.6rem;
  height: 4.6rem;
  border: solid 4px #b2c7d6;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s;
  position: relative;
}
.mansarda_place_advanced label input:hover {
  border-width: 7px;
}
.mansarda_place_advanced label input:after {
  display: block;
  content: "\e904";
  font-family: 'icomoon';
  color: transparent;
  font-size: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transition: color 0.3s;
}
.mansarda_place_advanced label input:checked {
  border: solid 10px #4597d1;
}
.mansarda_place_advanced label input:checked:after {
  color: #4597d1;
}
.mansarda_doors_icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  width: 100%;
  text-align: center;
}
.mansarda_doors_icon {
  display: inline-block;
  margin: 0 8rem;
  cursor: pointer;
}
.mansarda_doors_icon img {
  height: 15rem;
  width: auto;
  margin-bottom: 4rem;
  transition: 0.3s;
  opacity: 0.3;
}
.mansarda_doors_icon p {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.mansarda_doors_icon:hover img {
  transform: scale(1.1, 1.1);
  opacity: 1;
}
.mansarda_doors_icon.mansarda_doors_selected img {
  opacity: 1;
  transform: scale(1.2, 1.2);
}
.mansarda_implants .mansarda_half2 {
  background-color: #f4f7f9;
}
.mansarda_implants .mansarda_navigation,
.mansarda_implants .mansarda_dots {
  right: 50%;
}
.mansarda_implants_info {
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  color: #7d7d7d;
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 1.8rem;
  width: 70%;
}
.mandarda_implants_advanced_mobile,
font-size fsize5 {
  border: solid 1px #2e2e2e;
  padding: 0.7rem 3rem;
  height: 9.6rem;
  border-radius: 1rem;
  font-size: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  width: 36rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 2rem auto 0 auto;
  display: none;
}
.mandarda_implants_advanced_mobile:focus,
font-size fsize5:focus {
  outline: none;
}
.mandarda_implants_advanced_mobile::-ms-expand,
font-size fsize5::-ms-expand {
  display: none;
}
.mansarda_implants_level {
  border: solid 1px #2e2e2e;
  padding: 0.7rem 3rem;
  height: 9.6rem;
  border-radius: 1rem;
  font-size: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  width: 36rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.mansarda_implants_level:focus {
  outline: none;
}
.mansarda_implants_level::-ms-expand {
  display: none;
}
.mansarda_implants_advanced {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  width: 100%;
}
.mansarda_implants_advanced label {
  display: inline-block;
  width: 16%;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  vertical-align: top;
  cursor: pointer;
  margin: 0 0 2.4rem 1.2rem;
  position: relative;
  left: 1rem;
}
.mansarda_implants_advanced label i {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  font-size: 3rem;
}
.mansarda_implants_advanced label em {
  margin: 0;
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: 700;
  color: #2e2e2e;
}
.mansarda_implants_advanced label input {
  display: block;
  margin: 0 auto 1.2rem auto;
  -webkit-appearance: none;
  width: 7.5rem;
  height: 9rem;
  cursor: pointer;
  transition: border 0.3s;
  position: relative;
  border: solid 2px #4597d1;
  border-radius: 4px;
  border-color: #b2c7d6;
  color: #b2c7d6;
}
.mansarda_implants_advanced label input:hover {
  border-width: 7px;
}
.mansarda_implants_advanced label input:after {
  display: block;
  font-family: 'icomoon';
  color: transparent;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transition: color 0.3s;
  z-index: 3;
  color: #b2c7d6;
}
.mansarda_implants_advanced label input:checked {
  border: solid 10px #4597d1;
}
.mansarda_implants_advanced label input:checked:after {
  color: #4597d1;
}
.mansarda_implants_walls input:after {
  content: '\e905';
}
.mansarda_implants_wallsmini input:after {
  content: '\e907';
}
.mansarda_implants_floor input:after {
  content: '\e90d';
}
.mansarda_implants_floor2 input:after {
  content: '\e909';
}
.mansarda_implants_paint input:after {
  content: '\f0d1';
}
.mansarda_implants_plaster input:after {
  content: '\e911';
}
.mansarda_implants_electric input:after {
  content: '\e908';
}
.mansarda_implants_water input:after {
  content: '\e90c';
}
.mansarda_implants_heat input:after {
  content: '\f0d2';
}
.mansarda_implants_cold input:after {
  content: '\e906';
}
.mansarda_implants_alarm input:after {
  content: '\e90b';
}
.mansarda_implants_bathroom input:after {
  content: '\f020';
}
.mansarda_info .mansarda_half2 {
  background-color: #f4f7f9;
}
.mansarda_info_info {
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  color: #7d7d7d;
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 1.8rem;
  width: 70%;
}
.mansarda_info_height {
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  border: solid 1px #2e2e2e;
  padding: 0.7rem 3rem;
  height: 9.6rem;
  border-radius: 1rem;
  font-size: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  width: 36rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
}
.mansarda_info_height:focus {
  outline: none;
}
.mansarda_info_height::-ms-expand {
  display: none;
}
.mansarda_info_stairs {
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  border: solid 1px #2e2e2e;
  padding: 0.7rem 3rem;
  height: 9.6rem;
  border-radius: 1rem;
  font-size: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  width: 36rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
}
.mansarda_info_stairs:focus {
  outline: none;
}
.mansarda_info_stairs::-ms-expand {
  display: none;
}
.mansarda_info_stairsimg {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  height: 14%;
  width: auto;
}
.mansarda_info_heightimg {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  height: 14%;
  width: auto;
}
.mansarda_results_step_intro,
.mansarda_results_step_change,
.mansarda_results_step_final {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.mansarda_results_section_intro .mansarda_results_step_intro,
.mansarda_results_section_change .mansarda_results_step_change,
.mansarda_results_section_final .mansarda_results_step_final {
  transform: translateX(0%);
  transform: translateX(0%);
}
.mansarda_results_intro {
  text-align: center;
  color: #333;
  font-style: italic;
  font-family: "Lora", serif;
  font-size: 1.8rem;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.mansarda_results_intro p {
  padding-bottom: 4rem;
}
.mansarda_results_intro button {
  border: none;
  padding: 0 2rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 7rem;
  margin-left: 1rem;
  background-color: #f85840;
  color: #fff;
  cursor: pointer;
  border: solid 1px #f85840;
  transition: 0.3s;
  padding: 0 3rem !important;
  font-size: 1.8rem !important;
  text-transform: uppercase;
  font-weight: 400;
}
.mansarda_results_intro button:hover {
  background-color: transparent;
  color: #f85840;
}
.mansarda_results_step_change .manmansarda_results_change_option {
  clear: both;
  overflow: auto;
  width: 100%;
  border: 1px solid transparent;
  margin-bottom: 3rem;
}
.mansarda_results_step_change .mansarda_results_change_input,
.mansarda_results_step_change .mansarda_results_change_label {
  float: left;
te
}
.mansarda_results_step_change .mansarda_results_change_input {
  width: 20%;
}
.mansarda_results_step_change .mansarda_results_change_label {
  width: 70%;
}
.mansarda_results_step_change p {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.5;
}
.mansarda_results_step_change input {
  display: block;
  margin: 0 0 1.7rem 0;
  -webkit-appearance: none;
  width: 4.6rem;
  height: 4.6rem;
  border: solid 4px #b2c7d6;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s;
  position: relative;
}
.mansarda_results_step_change input:hover {
  border-width: 7px;
}
.mansarda_results_step_change input:after {
  display: block;
  content: "\e904";
  font-family: 'icomoon';
  color: transparent;
  font-size: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transition: color 0.3s;
}
.mansarda_results_step_change input:checked {
  border: solid 10px #4597d1;
}
.mansarda_results_step_change input:checked:after {
  color: #4597d1;
}
.mansarda_results_step_final button {
  border: none;
  padding: 0 2rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  height: 7rem;
  margin-left: 1rem;
  background-color: #f85840;
  color: #fff;
  cursor: pointer;
  border: solid 1px #f85840;
  transition: 0.3s;
  padding: 0 1rem !important;
  font-size: 1.8rem !important;
  text-transform: uppercase;
  font-weight: 400;
}
.mansarda_results_step_final button:hover {
  background-color: transparent;
  color: #f85840;
}
.mansarda_results_section_final.mansarda_half2 {
  overflow-x: hidden;
}
.mansarda_results .mansarda_half2 {
  background-color: #f4f7f9;
}
.mansarda_results_restart {
  color: #b8b3ae;
  text-decoration: underline;
  cursor: pointer;
}
.mansarda_results_send {
  color: #f85840;
  text-decoration: underline;
  cursor: pointer;
}
.mansarda_results_total button,
.mansarda_results_price button,
.mansarda_results_quality button {
  vertical-align: middle;
  position: relative;
  top: -0.8rem;
}
.mansarda_results_total h3,
.mansarda_results_price h3,
.mansarda_results_quality h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
.mansarda_results_total big,
.mansarda_results_price big,
.mansarda_results_quality big {
  font-size: 8rem;
  font-weight: 300;
  letter-spacing: -0.5rem;
  margin: 0;
  padding: 0;
  position: relative;
  left: -0.7rem;
}
.mansarda_results_total {
  top: 30%;
  position: absolute;
  width: 50%;
  left: 50%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 3rem;
}
.mansarda_results_total big {
  color: #bbb;
}
.mansarda_results_price {
  top: 30%;
  position: absolute;
  width: 50%;
  left: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 3rem;
}
.mansarda_results_price big {
  color: #88bbe0;
}
.mansarda_results_quality {
  top: 30%;
  position: absolute;
  right: 0;
  left: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 3rem;
}
.mansarda_results_quality big {
  color: #f85840;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  text-align: right;
}
.mansarda_results_quality_text {
  width: 60%;
}
.mansarda_results_quality_text p {
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.5;
}
.mansarda_results_tips {
  position: absolute;
  top: 55%;
  right: 0;
  left: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 3rem;
}
.mansarda_results_tips .mansarda_results_light {
  padding-top: 2.5rem;
}
.mansarda_results_tips h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 2.7rem 0;
  padding: 0;
}
.mansarda_results_tips h3 em {
  font-weight: 700;
  color: #f85840;
  font-style: normal;
  display: inline-block;
  margin-left: 0.3rem;
  letter-spacing: 0;
}
.mansarda_results_tips h4 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
.mansarda_results_tips p {
  font-size: 1.2rem;
  margin: 0 0 0.6rem 0;
  padding: 0;
  color: #333;
  position: relative;
}
.mansarda_results_tips p em {
  font-weight: 700;
  color: #f85840;
  font-style: normal;
  display: inline-block;
  margin-left: 0.3rem;
}
.mansarda_results_tips p strong {
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
}
.mansarda_disclaimer {
  font-size: 1.2rem;
  font-style: italic;
  color: #999;
  position: absolute;
  bottom: 5%;
  left: 2.5rem;
}
.mansarda_disclaimer a {
  color: #333;
}
.mansarda_results_statistics {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  margin: 0 0 0 2.7rem;
}
.mansarda_results_statistics .mansarda_results_statistics_bar {
  transition: 0.3s;
  transition-delay: 0.3s;
}
.mansarda_results_statistics .bar10 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar20 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar30 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar40 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar50 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar60 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar70 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar80 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar90 .mansarda_results_statistics_bar,
.mansarda_results_statistics .bar100 .mansarda_results_statistics_bar {
  width: 0%;
}
.mansarda_results_statistics h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 3rem 0;
  padding: 0;
}
.mansarda_results_statistics nav p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #7d7d7d;
  position: relative;
}
.mansarda_results_statistics nav p .mansarda_results_statistics_bar {
  height: 0.5rem;
  background-color: #f85840;
  position: absolute;
  top: 0.6rem;
  left: 50%;
}
.mansarda_step {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar0 .mansarda_results_statistics_bar {
  width: 0.3%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar10 .mansarda_results_statistics_bar {
  width: 13%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar20 .mansarda_results_statistics_bar {
  width: 17%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar30 .mansarda_results_statistics_bar {
  width: 21%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar40 .mansarda_results_statistics_bar {
  width: 26%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar50 .mansarda_results_statistics_bar {
  width: 30%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar60 .mansarda_results_statistics_bar {
  width: 34%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar70 .mansarda_results_statistics_bar {
  width: 38%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar80 .mansarda_results_statistics_bar {
  width: 42%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar90 .mansarda_results_statistics_bar {
  width: 46%;
}
.mansarda_index7 .mansarda_step.mansarda_step7 .bar100 .mansarda_results_statistics_bar {
  width: 50%;
}
.mansarda_index0 .mansarda_step.mansarda_step0,
.mansarda_index1 .mansarda_step.mansarda_step1,
.mansarda_index2 .mansarda_step.mansarda_step2,
.mansarda_index3 .mansarda_step.mansarda_step3,
.mansarda_index4 .mansarda_step.mansarda_step4,
.mansarda_index5 .mansarda_step.mansarda_step5,
.mansarda_index6 .mansarda_step.mansarda_step6,
.mansarda_index7 .mansarda_step.mansarda_step7,
.mansarda_index8 .mansarda_step.mansarda_step8 {
  display: block;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 85%;
  }
}
@media screen and (min-width: 1501px) and (max-width: 1920px) {
  html {
    font-size: 75%;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1500px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1150px) {
  html {
    font-size: 49%;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  html {
    font-size: 35%;
  }
}
@media screen and (min-width: 361px) and (max-width: 480px) {
  html {
    font-size: 52%;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 30%;
  }
}
@media screen and (max-width: 768px) {
  .mansarda_disclaimer {
    position: static;
    text-align: center;
    padding: 3rem;
  }
  .mansarda_navigation {
    bottom: 4rem;
  }
  .mansarda_footer {
    width: 10rem;
    bottom: 0.5rem;
  }
  .mansarda_step7 .mansarda_half2 {
    position: static;
    margin-top: 3rem;
  }
  .mansarda_results_step_intro,
  .mansarda_results_step_change,
  .mansarda_results_step_final {
    position: static;
    display: none;
    -webkit-transform: none;
    transform: none;
    padding-bottom: 2rem;
  }
  .mansarda_results_section_intro .mansarda_results_step_intro,
  .mansarda_results_section_change .mansarda_results_step_change,
  .mansarda_results_section_final .mansarda_results_step_final {
    display: block;
  }
  .mansarda_results_intro {
    position: static;
    -webkit-transform: none;
    transform: none;
    width: 100%;
  }
  .mansarda_results_quality big {
    position: static;
  }
  .mansarda_results_quality big button {
    margin-left: 0;
  }
  button,
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .mansarda_dots {
    display: none;
  }
  .mansarda_steps {
    position: static;
  }
  .mansarda_steps .mansarda_step h2 {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    font-size: 2.6rem;
  }
  .mansarda_steps .mansarda_half,
  .mansarda_steps .mansarda_half2,
  .mansarda_steps .mansarda_full {
    position: static;
  }
  .mansarda_steps .mansarda_half,
  .mansarda_steps .mansarda_full {
    padding-top: 7rem;
  }
  .mansarda_steps .mansarda_half2 {
    padding-top: 2rem;
  }
  .mansarda_splash_logo {
    height: 9%;
  }
  .mansarda_mq .mansarda_half2 {
    display: none;
  }
  .mansarda_splash_city {
    background-size: auto 40%;
  }
  .mansarda_splash_go {
    top: 60%;
  }
  .mansarda_splash_text {
    top: 40%;
    width: 85%;
    max-width: 100%;
  }
  .mansarda_city_icons {
    top: 57%;
  }
  .mansarda_city_icon {
    width: 50%;
    text-align: center;
    line-height: auto;
    padding-bottom: 2rem;
    margin: 0;
  }
  .mansarda_city_icon img {
    display: block;
    height: 12rem;
    margin: 0 auto 1rem auto;
  }
  .mansarda_city_icon p {
    display: inline-block;
  }
  .mansarda_place .mansarda_navigation {
    right: 0;
  }
  .mansarda_place .mansarda_half2 {
    background-color: transparent;
  }
  .mansarda_place_province {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    margin: 2rem auto 0 auto;
    display: block;
  }
  .mandarda_place_advanced_mobile {
    display: block;
  }
  .mansarda_place_advanced {
    display: none;
  }
  .mansarda_implants .mansarda_navigation,
  .mansarda_implants .mansarda_dots {
    right: 0;
  }
  .mansarda_implants_level {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    margin: 2rem auto 0 auto;
    display: block;
  }
  .mandarda_implants_advanced_mobile {
    display: block;
  }
  .mansarda_implants_advanced,
  .mansarda_implants_info {
    display: none;
  }
  .mansarda_doors_icons {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    margin-top: 2rem;
  }
  .mansarda_doors_icon {
    margin: 0 2rem 2rem 0;
  }
  .mansarda_doors_icon img {
    height: 8rem;
    margin-bottom: 2rem;
  }
  .mansarda_doors_icon:hover img {
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    opacity: 0.7;
  }
  .mansarda_info_height {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    margin: 2rem auto 0 auto;
    display: block;
  }
  .mansarda_info_stairs {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    margin: 2rem auto 0 auto;
    display: block;
  }
  .mansarda_info_info,
  .mansarda_info_stairsimg,
  .mansarda_info_heightimg {
    display: none;
  }
  .mansarda_popup_content {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    padding: 5rem 0 7rem 0;
    background-color: #fff;
    text-align: center;
    background-color: #fff;
  }
  .mansarda_popup_content input,
  .mansarda_popup_content button {
    width: auto;
    margin-bottom: 1rem;
  }
  .mansarda_popup_content .mansarda_popup_range {
    width: 80%;
  }
  .mansarda_results_statistics {
    display: none;
  }
  .mansarda_results_tips {
    position: static;
    margin-top: 2rem;
    width: auto;
  }
  .mansarda_results_price,
  .mansarda_results_total,
  .mansarda_results_quality {
    position: static;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    width: auto;
    margin-top: 2rem;
  }
}
