
////////// Imports

@import url(https://fonts.googleapis.com/css?family=Lora)
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300)


////////// Animations

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

@-webkit-keyframes slide {
    0%   {-webkit-transform: translateX(0%)}
    100% {-webkit-transform: translateX(-70%)}
}

////////// Mixin

centerPosition(x,y)
  position absolute
  left x
  top y
  transform translate3d(-50%,-50%,0)
  -webkit-transform translate3d(-50%,-50%,0)
  -moz-transform translate3d(-50%,-50%,0)
  -ms-transform translate3d(-50%,-50%,0)
  
centerPositionY(y)
  position absolute
  top y
  transform translate3d(0,-50%,0)
  -webkit-transform translate3d(0,-50%,0)
  -moz-transform translate3d(0,-50%,0)
  -ms-transform translate3d(0,-50%,0)

centerPositionX(x)
  position absolute
  left x
  transform translate3d(-50%,0,0)
  -webkit-transform translate3d(-50%,0,0)
  -moz-transform translate3d(-50%,0,0)
  -ms-transform translate3d(-50%,0,0)

bigInput()
  border solid 1px cDark2
  padding .7rem 1.6rem
  border-radius 1rem
  font-size fsize10
  width 20rem
  font-family 'Lato', 'Arial', sans-serif
  font-weight 300
  text-align center
  height 9.6rem
  box-shadow none !important
  -webkit-appearance none
  
mediumInput()
  border solid 1px cDark2
  padding 0 1rem
  border-radius 1rem
  font-size fsize4
  width 40rem
  font-family 'Lato', 'Arial', sans-serif
  font-weight 300
  text-align center
  height 7rem
  box-shadow none !important
  -webkit-appearance none

mediumSubmit()
  border none
  padding 0 2rem
  border-radius 1rem
  font-size fsize4
  font-family 'Lato', 'Arial', sans-serif
  font-weight 300
  text-align center
  height 7rem
  margin-left 1rem
  background-color cRed
  color white
  cursor pointer
  border solid 1px cRed
  transition time1
  
  &:hover
    background-color transparent
    color cRed

bigSelect()
  border solid 1px cDark2
  padding .7rem 3rem
  height 9.6rem
  border-radius 1rem
  font-size fsize5
  -webkit-appearance none
  -moz-appearance none
  background white
  width 36rem
  font-family 'Lato', 'Arial', sans-serif
  font-weight 300
  text-align center
  
  &:focus
    outline none
    
  &::-ms-expand
    display none

bigSelectMulti()
  border solid 1px cDark2
  padding .7rem 3rem
  height 9.6rem
  border-radius 1rem
  font-size fsize5
  -webkit-appearance none
  -moz-appearance none
  background white
  width 36rem
  font-family 'Lato', 'Arial', sans-serif
  font-weight 300
  text-align center

  &:focus
    outline none
    // font-size fsize2 !important

  &::-ms-expand
    display none

infoLabel()
  color cMedium
  font-family 'Lora', serif
  text-align center
  font-size fsize3
  width 70%


fsize0 = .9rem
fsize1 = 1.2rem
fsize2 = 1.6rem
fsize3 = 1.8rem
fsize4 = 2.6rem
fsize5 = 3rem
fsize6 = 4rem
fsize10 = 8rem
fsize20 = 13rem

time0 = .1s
time1 = .3s
time2 = .6s
time4 = 1.2s

cRed = #f85840
cGreen = #6bb3a7
cBlue = #88bbe0
cBlueLight = #f4f7f9
cBlueMedium = #b2c7d6
cBlueDark = #4597d1

cBeige = #e4dfda
cBeightMedium = #b8b3ae

cDark2 = #2e2e2e
cDark = #333333
cMedium = #7d7d7d
cLight = #bbb

.mansarda_hidden
  display none
  
.mansarda_transparent
  opacity 0

.textRed
  color cRed


////////// General

html
  font-size 62.5%

body
  font-family 'Lato','Arial',sans-serif
  margin 0
  padding 0
  overflow-x hidden

p
  margin 0
  padding 0
  
.mansarda_steps
  position absolute
  z-index 1
  top 0
  left 0
  right 0
  bottom 0

  .mansarda_full
    position absolute
    left 0
    top 0
    bottom 0
    right 0
  
  .mansarda_half
    position absolute
    left 0
    top 0
    bottom 0
    right 50%

  .mansarda_half2
    position absolute
    right 0
    top 0
    bottom 0
    left 50%
    
.mansarda_step
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  h2
    centerPositionY(18%)
    left 0
    right 0
    font-family 'Lora',sans-serif
    font-size fsize5
    line-height 1.2
    font-weight normal
    border-bottom solid 1px cLight
    padding-bottom 3rem
    margin 0 3rem

input
  outline none

////////// Popups

.mansarda_popup_send_active .mansarda_popup.mansarda_popup_send,
.mansarda_popup_email_active .mansarda_popup.mansarda_popup_email,
.mansarda_popup_quality_active .mansarda_popup.mansarda_popup_quality,
.mansarda_popup_computing_active .mansarda_popup.mansarda_popup_computing

  transform translateY(0%)
  -webkit-transform translateY(0%)
  -moz-transform translateY(0%)
  -ms-transform translateY(0%)
    
.mansarda_popup
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  z-index 4
  transform translateY(-100%)
  -webkit-transform translateY(-100%)
  -moz-transform translateY(-100%)
  -ms-transform translateY(-100%)
  transition time1
  -webkit-transition time1
  -moz-transition time1
  -ms-transition time1

.mansarda_popup_info
  margin-top 3rem
  font-size fsize2
  color cMedium
  font-family 'Lora', serif
  
  input
    margin-right 1rem
    
  a
    color cMedium
  
.mansarda_popup_text
  mediumInput()
  
.mansarda_popup_submit
  mediumSubmit()

.mansarda_popup_back
  background-color rgba(228,223,218,.65)
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background-color rgba(228,223,218,.65)

.mansarda_popup_content
  width 60rem
  centerPosition(50%,50%)
  padding 5rem 3rem 7rem 3rem
  background-color white
  text-align center
  background-color white
  border-radius 2.7rem
  
  h2
    font-family 'Lora',sans-serif
    font-size fsize4
    font-weight normal
    padding-bottom 5rem
    margin 0
    
  .mansarda_popup_close
    position absolute
    right 1.6rem
    top 1.6rem
    display block
    cursor pointer
    width 2.4rem
    height 2.4rem
    border none
    color white
    background-color cRed
    font-size 1rem
    border solid 1px cRed
    border-radius 50%
    line-height 2rem
    transition background-color time1
    text-align center
    padding 0

    i
      line-height 1.9rem
      transition color time1
      
    &:hover
      background-color white
      
      i
        color cRed

  nav
    a
      display inline-block
      width 10rem
      height 10rem
      border-radius 50%
      margin 0 3rem
      text-decoration none
      font-size fsize6
      line-height 10rem
      transition time1
      transform scale(1,1)
      
      &.mansarda_popup_share_facebook
        background-color #5988f4
        
      &.mansarda_popup_share_twitter
        background-color #07b7e3
        
      &.mansarda_popup_share_pinterest
        background-color #ff5353
      
      &:hover
        transform scale(1.2,1.2)

      i
        color white
        
.mansarda_popup_submit
  mediumSubmit();

.mansarda_popup_controls
  padding 1rem 0 5rem 0

.mansarda_popup_range
  cursor pointer
  -webkit-appearance none
  width 30rem
  
.mansarda_popup_range::-webkit-slider-runnable-track
    width 30rem
    height 1rem
    background cBeige
    border none
    border-radius .5rem
    
.mansarda_popup_range::-webkit-slider-thumb
    color cGreen
    background-color cRed
    width 4rem
    height 4rem
    border-radius 50%
    position relative
    top -1.5rem
    -webkit-appearance none
    border none
    
.mansarda_popup_range:focus
    outline none


.mansarda_popup_computed
  display inline-block
  padding 0 3%
  width 16%
  position relative
  vertical-align top
  
  h3
    margin 0
    padding 1rem 0 0 0
    font-size fsize1
    text-transform uppercase
    font-family 'Lato', 'Arial', sans-serif

  .mansarda_popup_computed_img
    width 100%
    height 0
    padding-bottom 100%
    filter grayscale(100%)
    -webkit-filter grayscale(100%)
    position relative
    background-image url('../images/button_green.svg')
    background-size contain
    background-repeat no-repeat
    background-position center

    &:after
      display block
      content "\e904"
      font-family 'icomoon'
      color transparent
      font-size 2.6rem
      centerPosition(50%,50%)
      transition color time1

  &.mansarda_popup_computed_active
    position relative

    .mansarda_popup_computed_img
      filter grayscale(0%)
      -webkit-filter grayscale(0%)


      &:after
        color white



////////// Header

.mansarda_header
  height 6rem
  position fixed
  top 0
  left 0
  right 0
  z-index 2
  
  nav
    position absolute
    right 3rem
    top 1.4rem
    
    a 
      display inline-block
      margin-left .8rem
      width 2.8rem
      height 2.8rem
      border-radius 50%
      border solid 1px cLight
      color cMedium
      text-align center
      line-height 3rem
      text-decoration none
      font-size 1.4rem
      padding 0
      transition color time1
      
      &:hover
        color cGreen
        border-color cGreen
      
      
  .mansarda_home
    text-transform uppercase
    color cMedium
    text-decoration none
    display inline-block
    padding 1rem 0 0 3rem
    font-size fsize1
    height 6rem
    position relative
    transition color time1

    img
      height 3rem
      width auto

    i
      font-size 2.8rem
      position absolute
      left 3rem
      top 1.3rem
      
    &:hover
      color cGreen

////////// Footer

.mansarda_footer
  position fixed
  display block
  z-index 2
  right 3rem
  bottom 2rem
  width 14rem
  
  img
    width 100%
    height auto

////////// Navigation

.mansarda_navigation
  position absolute
  bottom 6rem
  left 0
  right 0
  text-align center
  
  button
    cursor pointer
    font-size fsize2
    color cRed
    border solid 1px cRed
    border-radius .5rem
    background-color white
    width 14rem
    height 4rem
    margin 0 .6rem
    text-transform uppercase
    letter-spacing .1rem
    font-weight 300
    
    &.mansarda_navigation_next
      background-color cRed
      color white

.mansarda_dots
  position absolute
  bottom 2rem
  left 2rem
  right 2rem
  text-align center
  
  button
    border none
    color white
    width 1.6rem
    height 1.6rem
    border-radius .8rem
    display inline-block
    cursor pointer
    margin 0 .6rem
    background-color cBeige
    border solid 2px cBeige
    transition background-color time1
    -moz-appearance none
    
    &.active, &:hover
      background-color transparent
      border solid 2px cBeige


////////// Step: splash

.mansarda_splash
  overflow-x hidden
  width 100%

.mansarda_splash_city
  position absolute
  left 0
  right -200%
  bottom 0
  z-index 1
  top 0
  background-image url(../images/city.png)
  background-repeat repeat-x
  background-position center bottom
  background-size auto 50%
  animation 60s linear infinite slide

.mansarda_splash_logo  
  centerPosition(50%,23%)
  z-index 2
  height 11%
  width auto

.mansarda_splash_text
  centerPosition(50%,36%)
  font-family 'Lora', serif
  max-width 55%
  text-align center
  z-index 2
  font-size fsize2
  color cDark2

.mansarda_splash_go
  centerPosition(50%,55%)
  z-index 3
  width 14rem
  height 14rem
  display block
  border none
  line-height 11rem
  text-align center
  text-transform uppercase
  letter-spacing .2rem
  font-size fsize3
  color white
  cursor pointer
  background-color transparent
  color white  
  
  &:before
    display block
    content "."
    color transparent
    background url(../images/button.svg) no-repeat center 
    background-size cover
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    z-index -1
    transition time1
    animation 15s linear infinite spin
    
  &:hover:before
    left -.8rem
    right -.8rem
    top -.8rem
    bottom -.8rem


////////// Step: mq

.mansarda_mq
  .mansarda_half2
    background-color #e3ecf2
    overflow-x hidden

.mansarda_art_back
  background-color #cdddda
  background-image url(../images/tile1.png)
  position absolute
  left 0
  bottom 0
  right 0
  top 60%
  z-index 1
  
.mansarda_art_tree1
  position absolute
  width 24%
  height auto
  bottom 27%
  right -3%
  z-index 10
  
.mansarda_art_tree2
  position absolute
  width 20%
  height auto
  bottom 38%
  left 5%
  z-index 2

.mansarda_art_home
  position absolute
  height auto
  bottom 30%
  centerPositionX(50%)
  z-index 3
  transition width time1

.mansarda_art_home_overlay1
  position absolute
  height auto
  bottom 30%
  centerPositionX(50%)
  z-index 4
  transition width time1

.mansarda_art_home_overlay2
  position absolute
  height auto
  bottom 30%
  centerPositionX(50%)
  z-index 5
  transition width time1

.mansarda_art_home_overlay3
  position absolute
  height auto
  bottom 30%
  centerPositionX(50%)
  z-index 6
  transition width time1


.mansarda_mq_range
  centerPosition(50%,60%)
  cursor pointer
  -webkit-appearance none
  width 30rem
  
.mansarda_mq_range::-webkit-slider-runnable-track
    width 30rem
    height 1rem
    background cBeige
    border none
    border-radius .5rem
    
.mansarda_mq_range::-webkit-slider-thumb
    color cGreen
    background-color cGreen
    width 4rem
    height 4rem
    border-radius 50%
    position relative
    top -1.5rem
    -webkit-appearance none
    border none
    
.mansarda_mq_range:focus
    outline none
    

.mansarda_mq_text
  centerPosition(50%,40%)
  bigInput()

  

////////// Step city

.mansarda_city_icons
  centerPosition(50%,50%)
  width 100%
  text-align center
  
.mansarda_city_icon
  display inline-block
  margin 0 5rem
  cursor pointer
  
  img
    height 18rem
    width auto
    margin-bottom 3rem
    transition time1

    
  p
    font-size fsize1
    text-transform uppercase

  &:hover img
    transform scale(1.1,1.1)
    

.mansarda_place_city img
  -webkit-filter grayscale(100%)  

.mansarda_place_city.mansarda_city_selected0 img,
.mansarda_place_city.mansarda_city_selected1 .mansarda_city_size1 img,
.mansarda_place_city.mansarda_city_selected2 .mansarda_city_size2 img,
.mansarda_place_city.mansarda_city_selected3 .mansarda_city_size3 img,
.mansarda_place_city.mansarda_city_selected4 .mansarda_city_size4 img
  -webkit-filter grayscale(0%)

.mansarda_place_city.mansarda_city_selected1 .mansarda_city_size1 img,
.mansarda_place_city.mansarda_city_selected2 .mansarda_city_size2 img,
.mansarda_place_city.mansarda_city_selected3 .mansarda_city_size3 img,
.mansarda_place_city.mansarda_city_selected4 .mansarda_city_size4 img
  transform scale(1.2,1.2)


////////// Step place

.mansarda_place
  .mansarda_half2
    background-color cBlueLight

  .mansarda_navigation,
  .mansarda_dots
    right 50%

.mansarda_place_province
  centerPosition(50%,50%)
  bigSelectMulti()
  
.mandarda_place_advanced_mobile,
  font-size fsize5
  bigSelect()
  margin 2rem auto 0 auto
  display none

.mansarda_place_advanced
  centerPosition(50%,62%)
  width 100%
    
  label
    display inline-block
    width 28%
    margin-bottom 1rem
    font-size fsize1
    text-transform uppercase
    vertical-align top
    cursor pointer
    margin 0 0 4rem 0
    
    em
      margin 0 3rem
      display block
      font-style normal

    input
      display block
      margin 0 0 1.7rem 3rem
      -webkit-appearance none
      width 4.6rem
      height 4.6rem
      border solid 4px cBlueMedium
      border-radius 50%
      cursor pointer
      transition border time1
      position relative
      
      &:hover
        border-width 7px

      &:after
        display block
        content "\e904"
        font-family 'icomoon'
        color transparent
        font-size fsize3
        centerPosition(50%,50%)
        transition color time1

      &:checked
        border solid 10px cBlueDark
        
        &:after
          color cBlueDark

////////// Step doors

.mansarda_doors_icons
  centerPosition(50%,50%)
  width 100%
  text-align center
  
.mansarda_doors_icon
  display inline-block
  margin 0 8rem
  cursor pointer
  
  img
    height 15rem
    width auto
    margin-bottom 4rem
    transition time1
    opacity .3
          
  p
    font-size fsize1
    text-transform uppercase

  &:hover img
    transform scale(1.1,1.1)
    opacity 1

  &.mansarda_doors_selected img
    opacity 1
    transform scale(1.2,1.2)

////////// Implants

.mansarda_implants
  .mansarda_half2
    background-color cBlueLight

  .mansarda_navigation,
  .mansarda_dots
    right 50%

.mansarda_implants_info
  centerPosition(50%,63%)
  infoLabel()
  
.mandarda_implants_advanced_mobile,
  font-size fsize5
  bigSelect()
  margin 2rem auto 0 auto
  display none

.mansarda_implants_level
  bigSelect()
  centerPosition(50%,46%)

.mansarda_implants_advanced
  centerPosition(50%,60%)
  width 100%
  
  label
    display inline-block
    width 16%
    margin-bottom 1rem
    font-size fsize0
    text-transform uppercase
    vertical-align top
    cursor pointer
    margin 0 0 2.4rem 1.2rem
    position relative
    left 1rem
    
    i
      position absolute
      centerPosition(50%,35%)
      font-size 3rem
    
    em
      margin 0
      text-align center
      display block
      font-style normal
      font-weight 700
      color cDark2

    input
      display block
      margin 0 auto 1.2rem auto
      -webkit-appearance none
      width 7.5rem
      height 9rem
      cursor pointer
      transition border time1
      position relative
      border solid 2px cBlueDark
      border-radius 4px
      border-color cBlueMedium
      color cBlueMedium
      
      &:hover
        border-width 7px

      &:after
        display block
        font-family 'icomoon'
        color transparent
        font-size fsize6
        centerPosition(50%,50%)
        transition color time1
        z-index 3
        color cBlueMedium

      &:checked
        border solid 10px cBlueDark
        
        &:after
          color cBlueDark


.mansarda_implants_walls input:after
  content '\e905'
  
.mansarda_implants_wallsmini input:after
  content '\e907'

.mansarda_implants_floor input:after
  content '\e90d'

.mansarda_implants_floor2 input:after
  content '\e909'
  
.mansarda_implants_paint input:after
  content '\f0d1'

.mansarda_implants_plaster input:after
  content '\e911'  

.mansarda_implants_electric input:after
  content '\e908'

.mansarda_implants_water input:after
  content '\e90c' 

.mansarda_implants_heat input:after
  content '\f0d2'

.mansarda_implants_cold input:after
  content '\e906'

.mansarda_implants_alarm input:after
  content '\e90b'

.mansarda_implants_bathroom input:after
  content '\f020'
  

////////// Step info

.mansarda_info
  .mansarda_half2
    background-color cBlueLight

.mansarda_info_info
  centerPosition(50%,73%)
  infoLabel()

.mansarda_info_height
  centerPosition(50%,63%)
  bigSelect()

.mansarda_info_stairs
  centerPosition(50%,63%)
  bigSelect()

.mansarda_info_stairsimg
  centerPosition(50%,42%)
  height 14%
  width auto

.mansarda_info_heightimg
  centerPosition(50%,42%)
  height 14%
  width auto

////////// Step results

.mansarda_results_step_intro,
.mansarda_results_step_change,
.mansarda_results_step_final
  -webkit-transition time2
  transition time2
  position absolute
  -webkit-transform translateX(400%)
  transform translateX(400%)
  left 0
  top 0
  right 0
  bottom 0
  
.mansarda_results_section_intro .mansarda_results_step_intro,
.mansarda_results_section_change .mansarda_results_step_change,
.mansarda_results_section_final .mansarda_results_step_final
  transform translateX(0%)
  transform translateX(0%)

.mansarda_results_intro
  text-align center
  color #333
  font-style italic
  font-family "Lora", serif
  font-size fsize3
  width 80%
  centerPosition(50%,30%)
  
  p
    padding-bottom 4rem
  
  button
    mediumSubmit()
    padding 0 3rem!important
    font-size fsize3!important
    text-transform uppercase
    font-weight 400


.mansarda_results_step_change
  
  .manmansarda_results_change_option
    clear both
    overflow auto
    width 100%
    border 1px solid transparent
    margin-bottom 3rem

  .mansarda_results_change_input, .mansarda_results_change_label
    float left
    te

  .mansarda_results_change_input
    width 20%

  .mansarda_results_change_label
    width 70%

  p
    font-size fsize1
    text-transform uppercase
    line-height 1.5

  input
    display block
    margin 0 0 1.7rem 0
    -webkit-appearance none
    width 4.6rem
    height 4.6rem
    border solid 4px cBlueMedium
    border-radius 50%
    cursor pointer
    transition border time1
    position relative
    
    &:hover
      border-width 7px

    &:after
      display block
      content "\e904"
      font-family 'icomoon'
      color transparent
      font-size fsize3
      centerPosition(50%,50%)
      transition color time1

    &:checked
      border solid 10px cBlueDark
      
      &:after
        color cBlueDark


.mansarda_results_step_final

  button
    mediumSubmit()
    padding 0 1rem!important
    font-size fsize3!important
    text-transform uppercase
    font-weight 400



.mansarda_results_section_final.mansarda_half2
  overflow-x hidden

// general



.mansarda_results
  .mansarda_half2
    background-color cBlueLight

.mansarda_results_restart
  color cBeightMedium
  text-decoration underline
  cursor pointer

.mansarda_results_send
  color cRed
  text-decoration underline
  cursor pointer
  // mediumSubmit()
  // background-color transparent
  // color cGreen
  // border-color cGreen
  // position absolute
  // top 0
  // right 0

.mansarda_results_total,
.mansarda_results_price,
.mansarda_results_quality
  
  button
    vertical-align middle
    position relative
    top -.8rem
  
  h3
    font-size fsize1
    text-transform uppercase
    font-weight 700
    letter-spacing .1rem
    margin 0 0 1rem 0
    padding 0
    
  big
    font-size fsize10
    font-weight 300
    letter-spacing -.5rem
    margin 0
    padding 0
    position relative
    left -.7rem

.mansarda_results_total
  top 30%
  position absolute
  width 50%
  left 50%
  font-size fsize5
  line-height 1.2
  font-weight normal
  margin 0 3rem

  big
    color cLight

.mansarda_results_price
  top 30%
  position absolute
  width 50%
  left 0
  font-size fsize5
  line-height 1.2
  font-weight normal
  margin 0 3rem

  big
    color cBlue

.mansarda_results_quality
  top 30%
  position absolute
  right 0
  left 0
  font-size fsize5
  line-height 1.2
  font-weight normal
  margin 0 3rem

  big
    color cRed
    position absolute
    display inline-block
    right 0
    top 0
    text-align right

.mansarda_results_quality_text
  width 60%

  p
    padding-top 2rem
    font-size fsize1
    text-transform uppercase
    line-height 1.5


.mansarda_results_tips
  position absolute
  top 55%
  right 0
  left 0
  font-size fsize5
  line-height 1.2
  font-weight normal
  margin 0 3rem
  
  .mansarda_results_light
    padding-top 2.5rem
  
  h3
    font-size fsize1
    text-transform uppercase
    font-weight 700
    letter-spacing .1rem
    margin 0 0 2.7rem 0
    padding 0

    em
      font-weight 700
      color cRed
      font-style normal
      display inline-block
      margin-left .3rem
      letter-spacing 0

  h4
    font-size fsize1
    font-weight 700
    letter-spacing .1rem
    margin 0 0 1rem 0
    padding 0

  p
    font-size fsize1
    margin 0 0 .6rem 0
    padding 0
    color cDark
    position relative
    
    em
      font-weight 700
      color cRed
      font-style normal
      display inline-block
      margin-left .3rem
      
    strong
      font-weight 700
      margin-top 1rem
      display inline-block

.mansarda_disclaimer
  font-size fsize1
  font-style italic
  color #999
  position absolute
  bottom 5%
  left 2.5rem
  
  a
    color #333


.mansarda_results_statistics
  position absolute
  top 55%
  left 0
  width 100%
  margin 0 0 0 2.7rem
  
  .mansarda_results_statistics_bar
    transition time1
    transition-delay time1

  .bar10 .mansarda_results_statistics_bar,
  .bar20 .mansarda_results_statistics_bar,
  .bar30 .mansarda_results_statistics_bar,
  .bar40 .mansarda_results_statistics_bar,
  .bar50 .mansarda_results_statistics_bar,
  .bar60 .mansarda_results_statistics_bar,
  .bar70 .mansarda_results_statistics_bar,
  .bar80 .mansarda_results_statistics_bar,
  .bar90 .mansarda_results_statistics_bar,
  .bar100 .mansarda_results_statistics_bar
    width 0%

  h3
    font-size fsize1
    text-transform uppercase
    font-weight 700
    letter-spacing .1rem
    margin 0 0 3rem 0
    padding 0
    
  nav p
    font-size fsize1
    text-transform uppercase
    font-weight 700
    letter-spacing .1rem
    margin 0 0 1rem 0
    padding 0
    color cMedium
    position relative
    
    .mansarda_results_statistics_bar
      height 0.5rem
      background-color cRed
      position absolute
      top .6rem
      left 50%
    

////////// Step visibility

.mansarda_step
  transition time1
  -webkit-transition time1
  -moz-transition time1
  -ms-transition time1
  transform translateX(-100%)
  -webkit-transform translateX(-100%)
  -moz-transform translateX(-100%)
  -ms-transform translateX(-100%)

.mansarda_index7 .mansarda_step.mansarda_step7

  .bar0 .mansarda_results_statistics_bar
    width .3%
  .bar10 .mansarda_results_statistics_bar
    width 13%
  .bar20 .mansarda_results_statistics_bar
    width 17%
  .bar30 .mansarda_results_statistics_bar
    width 21%
  .bar40 .mansarda_results_statistics_bar
    width 26%
  .bar50 .mansarda_results_statistics_bar
    width 30%
  .bar60 .mansarda_results_statistics_bar
    width 34%
  .bar70 .mansarda_results_statistics_bar
    width 38%
  .bar80 .mansarda_results_statistics_bar
    width 42%
  .bar90 .mansarda_results_statistics_bar
    width 46%
  .bar100 .mansarda_results_statistics_bar
    width 50%


.mansarda_index0 .mansarda_step.mansarda_step0,
.mansarda_index1 .mansarda_step.mansarda_step1,
.mansarda_index2 .mansarda_step.mansarda_step2,
.mansarda_index3 .mansarda_step.mansarda_step3,
.mansarda_index4 .mansarda_step.mansarda_step4,
.mansarda_index5 .mansarda_step.mansarda_step5,
.mansarda_index6 .mansarda_step.mansarda_step6,
.mansarda_index7 .mansarda_step.mansarda_step7,
.mansarda_index8 .mansarda_step.mansarda_step8
  display block
  transform translateX(0%)
  -webkit-transform translateX(0%)
  -moz-transform translateX(0%)
  -ms-transform translateX(0%)


////////// Responsivity

@media screen and (min-width 1921px)
  html
    font-size 85%

@media screen and (min-width 1501px) and (max-width 1920px)
  html
    font-size 75%

@media screen and (min-width 1151px) and (max-width 1500px)
  html
    font-size 62.5%

@media screen and (min-width 901px) and (max-width 1150px)
  html
    font-size 49%

@media screen and (min-width 769px) and (max-width 900px)
  html
    font-size 35%

@media screen and (min-width 361px) and (max-width 480px)
  html
    font-size 52%;
    
@media screen and (min-width 321px) and (max-width 360px)
  html
    font-size 45%;

@media screen and (max-width 320px)
  html
    font-size 30%;



@media screen and (max-width 768px)

  .mansarda_disclaimer
    position static
    text-align center
    padding 3rem

  .mansarda_navigation
    bottom 4rem

  .mansarda_footer
    width 10rem
    bottom .5rem

  .mansarda_step7 .mansarda_half2
    position static
    margin-top 3rem

  .mansarda_results_step_intro,
  .mansarda_results_step_change,
  .mansarda_results_step_final
    position static
    display none
    -webkit-transform none
    transform none
    padding-bottom 2rem

  .mansarda_results_section_intro .mansarda_results_step_intro,
  .mansarda_results_section_change .mansarda_results_step_change,
  .mansarda_results_section_final .mansarda_results_step_final
    display block


  .mansarda_results_intro
    position static
    -webkit-transform none
    transform none
    width 100%

  .mansarda_results_quality big
    position static
    
    button
      margin-left 0

  button,a
    -webkit-tap-highlight-color: rgba(0,0,0,0);

  .mansarda_dots
    display none
    
  .mansarda_steps
    position static
    
    .mansarda_step h2
      position static
      transform none
      -webkit-transform none
      -ms-transform none
      -moz-transform none
      font-size fsize4

    .mansarda_half,
    .mansarda_half2,
    .mansarda_full
      position static
      
    .mansarda_half, .mansarda_full
      padding-top 7rem
      
    .mansarda_half2
      padding-top 2rem

  .mansarda_splash_logo
    height 9%
      
  .mansarda_mq .mansarda_half2
    display none

  .mansarda_splash_city
    background-size auto 40%

  .mansarda_splash_go
    top 60%
    
  .mansarda_splash_text
    top 40%
    width 85%
    max-width 100%
    
  .mansarda_city_icons
    top 57%

  .mansarda_city_icon
    width 50%
    text-align center
    line-height auto
    padding-bottom 2rem
    margin 0
    
    img
      display block
      height 12rem
      margin 0 auto 1rem auto

    p
      display inline-block
      
  .mansarda_place
    .mansarda_navigation
      right 0
      
    .mansarda_half2 
      background-color transparent

  .mansarda_place_province
    position static
    transform none
    -webkit-transform none
    -ms-transform none
    -moz-transform none
    margin 2rem auto 0 auto
    display block

  .mandarda_place_advanced_mobile
    display block
    
  .mansarda_place_advanced
    display none
    
  .mansarda_implants
    .mansarda_navigation,
    .mansarda_dots
      right 0


  .mansarda_implants_level
    position static
    transform none
    -webkit-transform none
    -ms-transform none
    -moz-transform none
    margin 2rem auto 0 auto
    display block

  .mandarda_implants_advanced_mobile
    display block
    
  .mansarda_implants_advanced,
  .mansarda_implants_info
    display none

  .mansarda_doors_icons
    position static
    transform none
    -webkit-transform none
    -ms-transform none
    -moz-transform none
    margin-top 2rem
    
  .mansarda_doors_icon
    margin 0 2rem 2rem 0
    
    img
      height 8rem
      margin-bottom 2rem
            
    &:hover img
      transform none
      -webkit-transform none
      -ms-transform none
      -moz-transform none
      opacity .7

  .mansarda_info_height
    position static
    transform none
    -webkit-transform none
    -ms-transform none
    -moz-transform none
    margin 2rem auto 0 auto
    display block
    
  .mansarda_info_stairs
    position static
    transform none
    -webkit-transform none
    -ms-transform none
    -moz-transform none
    margin 2rem auto 0 auto
    display block
    
  .mansarda_info_info,
  .mansarda_info_stairsimg,
  .mansarda_info_heightimg
    display none

  .mansarda_popup_content
    width 90%
    centerPosition(50%,50%)
    padding 5rem 0 7rem 0
    background-color white
    text-align center
    background-color white
    
    input,button
      width auto
      margin-bottom 1rem
      
    .mansarda_popup_range
      width 80%
  
  .mansarda_results_statistics
    display none
    
  .mansarda_results_tips
    position static
    margin-top 2rem
    width auto

  .mansarda_results_price,
  .mansarda_results_total,
  .mansarda_results_quality
    position static
    transform none
    -webkit-transform none
    -ms-transform none
    -moz-transform none
    width auto
    margin-top 2rem
        