@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?jxvuuo');
    src:    url('fonts/icomoon.eot?jxvuuo#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jxvuuo') format('truetype'),
        url('fonts/icomoon.woff?jxvuuo') format('woff'),
        url('fonts/icomoon.svg?jxvuuo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flame:before {
    content: "\f0d2";
}
.icon-git-branch:before {
    content: "\f020";
}
.icon-paintcan:before {
    content: "\f0d1";
}
.icon-home:before {
    content: "\e903";
}
.icon-paint-format:before {
    content: "\e911";
}
.icon-map2:before {
    content: "\e905";
}
.icon-equalizer2:before {
    content: "\e906";
}
.icon-hammer:before {
    content: "\e907";
}
.icon-power-cord:before {
    content: "\e908";
}
.icon-menu:before {
    content: "\e909";
}
.icon-sun:before {
    content: "\e90a";
}
.icon-cross:before {
    content: "\e912";
}
.icon-checkmark:before {
    content: "\e904";
}
.icon-volume-medium:before {
    content: "\e90b";
}
.icon-checkbox-unchecked:before {
    content: "\e90d";
}
.icon-facebook:before {
    content: "\e902";
}
.icon-bar-graph:before {
    content: "\e913";
}
.icon-emoji-happy:before {
    content: "\e90e";
}
.icon-emoji-neutral:before {
    content: "\e90f";
}
.icon-emoji-sad:before {
    content: "\e910";
}
.icon-water:before {
    content: "\e90c";
}
.icon-pinterest:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}

